# Archivos temporales de Windows

Thumbs.db
Desktop.ini

# Archivos temporales de macOS

.DS_Store

# Archivos de editores

.vscode/
.idea/

# Archivos de configuración con información privada

.env
.env.*

# Archivos temporales y logs

*.log
*.tmp